---
import { getCollection } from 'astro:content';
import { SITE } from '../consts';
import FormattedDate from '../components/FormattedDate.astro';
import Layout from '../layouts/Layout.astro';

const { title } = SITE;

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <h1><a href={import.meta.env.BASE_URL}>{title}</a></h1>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`${import.meta.env.BASE_URL}/${post.slug}/`}>
              <div>
                <h4 class="title">{post.data.title}</h4>
                <p class="abstract">{post.data.description}</p>
                <p class="date">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </div>
              <img
                width={200}
                height={100}
                src={`${import.meta.env.BASE_URL}/${post.data.heroImg}`}
                alt={post.data.heroImgAlt}
              />
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    width: 100%;
    /* width: calc(50% - 1rem); */
    text-align: start;
  }

  ul li * {
    text-decoration: none;
    transition: 0.2s ease;
  }

  ul li img {
    margin-left: 0.5rem;
    border-radius: 12px;
  }

  ul li a {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .title {
    margin: 0;
    color: rgb(var(--black));
    line-height: 1;
  }

  .abstract {
    color: rgb(var(--black));
  }

  .date {
    margin: 0;
    color: rgb(var(--gray-dark));
  }

  ul li a:hover h4,
  ul li a:hover .abstract,
  ul li a :hover .date {
    color: rgb(var(--gray));
  }

  ul a:hover img {
    box-shadow: var(--box-shadow);
  }
</style>
